nav {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;

  grid-area: header;
  max-height: 96px;

  .navigation-header-blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;

    background-color: #badfdb;
    color: #154961;

    font-size: 2rem;

    padding: 1rem 1rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #154961;
    }
  }
}
